import(methods)
import(Rcpp)
import(network)
import(parallel)
importFrom(stats, sd,na.omit, var, cov,pchisq,binomial,glm,vcov, pnorm)
importFrom(graphics, boxplot, points, pairs, plot)
useDynLib(lolog)
exportPattern("^[^\\.]")
