import(methods)
import(Rcpp)
import(network)
import(parallel)
importFrom(stats,na.omit, var, cov,pchisq,binomial,glm,vcov, pnorm)
importFrom(graphics, pairs, plot)
useDynLib(lolog)
exportPattern("^[^\\.]")
