import(methods)
import(Rcpp)
import(network)
import(parallel)
importFrom(stats, sd, na.omit, var, cov, pchisq, binomial, glm, vcov, pnorm, simulate)
importFrom(graphics, boxplot, points, pairs, plot, par, hist, rect, abline)
useDynLib(lolog, .registration = TRUE)
exportPattern("^[^\\.]")
